@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-bg: #FFF8F0;
  --color-primary: #1A1A1A;
  --color-text: #1A1A1A;
}

@layer base {
  [data-theme=dark] {
    --color-bg: #1A1A1A;
    --color-primary: #FFF8F0;
    --color-text: #FFF8F0;
  }
}